<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 toolbar">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-plus"></i> New
      </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Album</button>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding: 20px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Images</h3>
        <hr>
    </div>
</div>
<div class="row" style="padding: 20px;">
    <div class="col-md-2 col-sm-2 col-xs-1">
        <a class="dec-text" href="#"><img src="../assets/img/imagen1.jpg" style="height: 200px; width: 200px;" />
            <span>Imagen 1</span></a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-1">
        <a class="dec-text" href="#"><img src="../assets/img/imagen2.jpg" style="height: 200px; width: 200px;" />
            <span>Imagen 2</span></a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-1">
        <a class="dec-text" href="#"><img src="../assets/img/imagen3.jpg" style="height: 200px; width: 200px;" />
            <span>Imagen 3</span></a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-1">
        <a class="dec-text" href="#"><img src="../assets/img/imagen4.jpg" style="height: 200px; width: 200px;" />
            <span>Imagen 4</span></a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-1">
        <a class="dec-text" href="#"><img src="../assets/img/imagen5.jpg" style="height: 200px; width: 200px;" />
            <span>Imagen 5</span></a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-1">
        <a class="dec-text" href="#"><img src="../assets/img/imagen6.jpg" style="height: 200px; width: 200px;" />
            <span>Imagen 6</span></a>
    </div>
</div>