<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 toolbar">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-plus"></i> New
          </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" (click)="changeStateCreate()">Album</button>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding: 20px;" *ngIf="stateCreate">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Create Album</h3>
        <hr>
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label class="sr-only">Album Name</label>
                <input type="text" class="form-control" id="albumName" placeholder="Album name">
            </div>
            <button class="btn btn-primary mb-2"><i class="far fa-save" ></i> Save</button>
            <button class="btn btn-danger mb-2" style="margin-left:15px" (click)="cancelStateCreate()"><i class="far fa-times-circle"></i> Cancel</button>
        </form>
    </div>
</div>
<div class="row" style="padding: 20px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Albums</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-sm-2 col-xs-1" style="padding-left: 30px;" *ngFor="let alb of albums">
        <a class="dec-text" href="#">
            <i class="fas fa-folder fa-7x"></i><br>
            <span>{{alb.name}}</span>
        </a>
    </div>
</div>